/*Important CSS grid layout for the whole layout*/
/*Reference from https://codepen.io/Guilh/pen/peNKqy and ****ofcourse made it my own to sort layout****/
/*Reference from https://css-tricks.com/snippets/css/complete-guide-grid/*/
.wrapper
{
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto;
  grid-template-rows: auto;
  grid-template-areas:
      '💻 💻 💻 💻'
      '🔷 🔷 🔷 🔷'
      '🖥 🖥 🖥 🖥'
      '📱 📱 📱 📱';
}

header {
  grid-area: 💻;
}

main{
  grid-area: 🖥;
}

aside{
  grid-area: 🔷;
}

footer{
  grid-area: 📱;
}

header,
main,
aside,
footer {
  color: white;
  font-family: sans-serif;
  background-color: #6096ea;
  padding: 1em;
}
/*Css Grid layout End*/


header nav{
  float:right;
  margin-top: 80px;
}

nav li{
  display: inline;
}

nav ul{
    list-style-type: none;
    margin: 0;
    padding: 0;

}

nav li a{
  display: inline-block;
  width: 150px;
  color: #fff;
  text-align: center;
}

nav li a:hover{
  color: #3ff599;
}

.logo{
  text-align: center;
  float: left;
}

.logo-text{
    text-align: center;
    width: 100%;
    float: left;
}

main div {
    /*float:left;*/
    /*width: 35%;*/
    text-align: center;
    /*background-color: white;*/
    color: #000;
    margin: 5px;
}

footer section{
  float:left;
  width: 26%;
  color:#fff;
  margin: auto 3%;
  text-align: center;
}

footer .container{
  margin:0 auto;

}
footer section ul,
li,
a{
    list-style-type: none;
    text-decoration: none;
    -webkit-padding-start: 0px !important;
    color:#fff;
}

aside ul{
  text-align: center;
}

aside nav {
  float:left;
  width: 100%;
}
aside nav li{
  display: inline;
}


.sitemap a:hover{
  text-decoration: underline;
}

.fa-fw{
  padding-left: 2px !important;
}

.contact ul li i {
    padding-left: 117px;
  }

  .contact ul li{
    text-align:left;
  }

.contact a:hover{
  text-decoration: underline;
}

/*CSS for landing page*/
#product-grid {
  margin-bottom:30px;
}
.product-item {
  float:left;
  background: #ffffff;
  margin:15px 10px;
  padding:5px;
  border:#CCC 1px solid;
  border-radius:4px;
}
.product-item div{
  text-align:center;
  margin:10px;
}
.product-price {
	color: #005dbb;
    font-weight: 600;
}
.product-image {
  height:100px;
  background-color:#FFF;
}

.btnOrderAction{
  background-color: #eb9e4f;
    border: 0;
    padding: 3px 10px;
    color: #ffffff;
    margin-left: 2px;
    border-radius: 2px;
}
/* ~~End~~ */
